In [25]:
import pandas as pd
import numpy as np

In [34]:
# Import data
def load_multiple_csv_files():
    data_frames = []
    for x in range(1, 30):  # Loop through subjects
        for y in range(1, 12):  # Loop through tasks
            file_path = f'Unzipped/S{x}/S{x}_task{y}.csv'
            try:
                df = pd.read_csv(file_path, header=None)  # Read CSV without assuming a header
                df['Subject'] = f'S{x}'  # Add subject column
                df['Task'] = f'Task{y}'  # Add task column
                df.columns = ['Subject', 'Task'] + [f'Feature_{i}' for i in range(1, len(df.columns) - 1)]  # Assign column names
                data_frames.append(df)
            except FileNotFoundError:

                print(f"File not found: {file_path}")
    # Concatenate all dataframes into a single dataframe
    merged_data = pd.concat(data_frames, ignore_index=True)
    return pd.DataFrame(merged_data)

In [35]:
df.head()

,Feature_1,Feature_2,Feature_3,Feature_4,Feature_5,Feature_6,Feature_7,Feature_8,Feature_9,Feature_10,Subject,Task
0,34,69,25137,10967,2604,5321,25031,37279,1725,2549,S1,Task1
1,43,74,15167,34062,17446,16113,49284,52473,31642,7755,S1,Task1
2,61,64,5726,4932,2482,6996,139747,18902,7644,3362,S1,Task1
3,57,64,24948,14535,30571,15185,228001,124834,13174,7611,S1,Task1
4,66,57,5626,6658,6843,4939,260240,23033,3564,3302,S1,Task1

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20881 entries, 0 to 20880
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Feature_1   20881 non-null  int64
 1   Feature_2   20881 non-null  int64
 2   Feature_3   20881 non-null  int64
 3   Feature_4   20881 non-null  int64
 4   Feature_5   20881 non-null  int64
 5   Feature_6   20881 non-null  int64
 6   Feature_7   20881 non-null  int64
 7   Feature_8   20881 non-null  int64
 8   Feature_9   20881 non-null  int64
 9   Feature_10  20881 non-null  int64
 10  Subject     20881 non-null  object
 11  Task        20881 non-null  object
dtypes: int64(10), object(2)
memory usage: 1.9+ MB

In [29]:
df = load_multiple_csv_files()
df[df['Subject']=='S5']['Task'].value_counts()

Task
Task8     120
Task1      60
Task2      60
Task3      60
Task4      60
Task5      60
Task6      60
Task7      60
Task9      60
Task10     60
Task11     60
Name: count, dtype: int64